#CLOCK

NET "B8_clk" LOC = B8;

#Instruction In
NET "Ctrl_Instr_In[0]" LOC = p11;
NET "Ctrl_Instr_In[1]" LOC = l3;
NET "Ctrl_Instr_In[2]" LOC = k3;
NET "Ctrl_Instr_In[3]" LOC = b4;
NET "Ctrl_Instr_In[4]" LOC = g3;
NET "Ctrl_Instr_In[5]" LOC = f3;
NET "Ctrl_Instr_In[6]" LOC = e2;
NET "Ctrl_Instr_In[7]" LOC = n3;

#Output

#run mode
NET "SBI_On" LOC = g1;
NET "LDA_On" LOC = p4;
NET "HLT_On" LOC = n4;
NET "run_mode" LOC = g12;

